/.idea/
/.claude/

# telegram-bot
/telegram-bot/.env
/telegram-bot/.env.local
/telegram-bot/.env.local.php
/telegram-bot/.env.*.local
/telegram-bot/var/
/telegram-bot/vendor/
/telegram-bot/.php-cs-fixer.cache
/telegram-bot/phpunit.xml
/telegram-bot/.phpunit.cache/
/telegram-bot/config/secrets/prod/prod.decrypt.private.php
/telegram-bot/public/bundles/

# openspec
openspec/changes/