bot-prod.whitevpn.tech {
	reverse_proxy localhost:8080
}

bot-dev.whitevpn.tech {
	reverse_proxy localhost:8081
}

panel.whitevpn.tech {
	basicauth {
		admin $2a$14$VeniphkLgJEOC3Pq0tr9je6o2s5rVdMXiRDLQWXn9xpThpUUeNrR6
	}
	reverse_proxy localhost:2053
}

sub.whitevpn.tech {
	header routing "happ://routing/onadd/eyJEaXJlY3RTaXRlcyI6WyJnZW9zaXRlOnJ1IiwiZ2Vvc2l0ZTpjYXRlZ29yeS1ydSJdLCJEaXJlY3RJcCI6WyJnZW9pcDpydSIsImdlb2lwOnByaXZhdGUiXX0="
	reverse_proxy localhost:2096
}
