{
  "apps": {
    "layer4": {
      "servers": {
        "relay_443": {
          "listen": [":443"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["tcp://${DEPLOY_HOST}:443"]}]
                }
              ]
            }
          ]
        },
        "relay_vless": {
          "listen": [":${RELAY_VLESS_PORT}"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["tcp://${DEPLOY_HOST}:${RELAY_VLESS_PORT}"]}]
                }
              ]
            }
          ]
        },
        "relay_trojan": {
          "listen": [":${RELAY_TROJAN_PORT}"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["tcp://${DEPLOY_HOST}:${RELAY_TROJAN_PORT}"]}]
                }
              ]
            }
          ]
        },
        "relay_ss_tcp": {
          "listen": [":${RELAY_SS_PORT}"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["tcp://${DEPLOY_HOST}:${RELAY_SS_PORT}"]}]
                }
              ]
            }
          ]
        },
        "relay_ss_udp": {
          "listen": ["udp/:${RELAY_SS_PORT}"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["udp://${DEPLOY_HOST}:${RELAY_SS_PORT}"]}]
                }
              ]
            }
          ]
        }
      }
    }
  }
}
