{
  "apps": {
    "layer4": {
      "servers": {
        "relay_443": {
          "listen": [":443"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["${MAIN_SERVER_IP}:443"]}]
                }
              ]
            }
          ]
        },
        "relay_reality": {
          "listen": [":${RELAY_REALITY_PORT}"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["${MAIN_SERVER_IP}:${RELAY_REALITY_PORT}"]}]
                }
              ]
            }
          ]
        },
        "relay_ss_tcp": {
          "listen": [":${RELAY_SS_PORT}"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["${MAIN_SERVER_IP}:${RELAY_SS_PORT}"]}]
                }
              ]
            }
          ]
        },
        "relay_ss_udp": {
          "listen": ["udp/:${RELAY_SS_PORT}"],
          "routes": [
            {
              "handle": [
                {
                  "handler": "proxy",
                  "upstreams": [{"dial": ["udp/${MAIN_SERVER_IP}:${RELAY_SS_PORT}"]}]
                }
              ]
            }
          ]
        }
      }
    }
  }
}
